body {
  overflow-x: hidden;
  background-color: #555555;
}

#main-wrap {
  width: 90vw;
  margin: 1rem auto;
}

#button-wrap {
  display: flex;
  margin-bottom: 1rem;
}

#button-wrap > * {
  width: 7rem;
  padding: 0.4rem;
  margin-left: 0.2rem;
  font-weight: bold;
  text-align: center;
  border-radius: 0.4rem;
}

#reset-button {
  color: #ffffff;
  background-color: #500e17;
}

#hint-button {
  margin-left: auto;
  color: #ffffff;
  background-color: #42aac7;
}

#skip-button {
  color: #ffffff;
  background-color: #717171;
}

#sign-wrap {
  position: relative;
}

#sign,
#sign-clone {
  width: 90vw;
  font-family: ten-mincho-antique, sans-serif;
  font-style: normal;
  font-weight: 500;
  background-color: #ffffff;
}

#station-name {
  width: 90vw;
  height: 40vw;
  padding: 0;
  font-size: 10vw;
  font-weight: 700;
  line-height: 10vw;
  text-align: center;
  border: none;
}

#station-name,
#station-name:focus {
  outline: none;
}

#neighboring-stations {
  display: grid;
  grid-area: neighboring-stations;
  grid-template-areas: "next-icon next previous previous-icon";
  grid-template-columns: 6vw auto auto 6vw;
  height: 6vw;
  padding: 0 6vw;
  background-color: #aaa58e;
}

#neighboring-stations > * {
  font-size: 4vw;
  line-height: 4vw;
  color: #ffffff;
}

#previous-icon {
  width: 6vw;
  height: 6vw;
  background-color: #ffffff;
}

#previous-station-name {
  grid-area: previous;
  padding: 1vw;
  text-align: right;
}

#next-icon {
  width: 6vw;
  height: 6vw;
  background-color: #ffffff;
}

#next-station-name {
  grid-area: next;
  padding: 1vw;
}

#line-color {
  grid-area: line-color;
  height: 4vw;
}

#line-selector {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: #ffffff;
}
